{% load static %}
{% load git_ver %}
<nav class="navbar navbar-expand-lg sticky-top  navbar-dark bg-primary" id="topNavbar">

  <a class="navbar-brand " href="/home">
    <!-- <i class="fas fa-seedling"></i>  -->
     <img src='{% static "/home/images/logo.png" %}' alt="モルモット"  width=35px>
     <!-- <i class="fas fa-egg" title="Project logo is coming soon, being broomed at the moment"></i> -->
      <!-- <center>
        <small>Morumotto</small>
      </center> -->
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="/home" id="homeBtn">
          <!-- <i class="fas fa-home"></i> -->
          Home</a>
      </li>

      <!-- <li class="nav-item" id="updateBtn">
        <a class="nav-link" href="/archive/update" id="updateDd">
          <i class="fa fa-sync"></i>  Update Archive
        </a>
      </li> -->

      <li class="nav-item dropdown" id="monitBtn">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <!-- <i class="fa fa-chart-pie"></i>  -->
          Monitoring
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/monitoring/netgaps" id="netGapsDd">Network Gaps</a>
          <a class="dropdown-item" href="/monitoring/gaps" id="staGapsDd">Station Gaps</a>
          <a class="dropdown-item" href="/monitoring/netoverlaps" id="netOverDd">Network Overlaps</a>
          <a class="dropdown-item" href="/monitoring/overlaps" id="staOverDd">Station Overlaps</a>
          <a class="dropdown-item" href="/monitoring/availability" id="availabilityDd">Data Availability</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/monitoring/update_stats" id="updateStatsDd">Update Statistics</a>
        </div>
      </li>

      <!-- <li class="nav-item dropdown" id="updateBtn">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-sync"></i>  Update
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/archive/update" id="updateDd">Update Archive</a>
          <a class="dropdown-item" href="/archive/update" id="directDd">Manual Update</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/archive/update" id="cronDd">Crontab</a>
        </div>
      </li> -->

      <li class="nav-item dropdown" id="stackBtn">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <!-- <i class="fa fa-layer-group"></i>  -->
          Stack
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/archive/stack" id="stackDd">Stack Visualisation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/archive/newrequest" id="requestDd">New Request</a>
          <a class="dropdown-item" href="/archive/update" id="updateDd">Update Archive</a>
        </div>
      </li>

      <li class="nav-item dropdown" id="qcBtn">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <!-- <i class="fas fa-check-double"></i>  -->
          Quality Control
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/qualitycontrol/" id="qcMenuDd">Menu</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/qualitycontrol/status" id="statusDd">Status</a>
          <a class="dropdown-item" href="/qualitycontrol/update_metadata" id="updateMdDd">Update Metadata</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/qualitycontrol/check_metadata" id="checkMdDd">Check MetaData</a>
          <a class="dropdown-item" href="/qualitycontrol/map_stations" id="stationsDd">Stations location</a>
          <a class="dropdown-item" href="/qualitycontrol/plot_response" id="responseDd">Plot Response files</a>
          <a class="dropdown-item text-danger" title="Not available yet" href="/qualitycontrol/metadata_vs_data" id="checkMdVsDataDd">Check Metadata VS Data</a>
          <a class="dropdown-item text-danger" title="Not available yet" href="/qualitycontrol/check_data" id="dataDd">Check Data</a>
          <a class="dropdown-item" title="Not available yet" href="/qualitycontrol/plot_completion" id="completionDd">Plot Completion</a>
        </div>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">



      <!-- <li class="nav-item dropdown" id="setupBtn">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fas fa-bars"></i> Admin
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/admin/logdb/" id="logDd">Logs</a>
          <a class="dropdown-item" href="/flower" id="flowerDd">Flower (Celery monitor)</a>
          <a class="dropdown-item" href="/home/init_welcome" id="initDd">Initialisation</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/admin" id="adminDd">Admin Page</a>
        </div>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" href='{% static "/docs/user_guide.html" %}'><i class="fas fa-book"></i> Docs</a>
      </li> -->

      <!-- <li class="nav-item">
        <a class="nav-link" href="https://k2.ipgp.fr/geber/siqaco"><i class="fab fa-gitlab"></i> GitLab ( {% git_ver %} )</a>
        <a class="nav-link" href="https://github.com/IPGP/siqaco"><i class="fab fa-github"></i> Github </a>
      </li> -->


      {% if user.is_authenticated %}
        <li class="nav-item dropdown" id="logoutBtn">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            {% if user.is_superuser %}
              <div class="dropdown-header"> Signed in as <strong> {{ user.username }}</strong> <i class="fas fa-user-shield" title="Admin User"></i></div>
              <a class="dropdown-item" href="/admin/logdb/" id="logDd">Logs</a>
              <a class="dropdown-item" href="/flower" id="flowerDd">Flower (Celery monitor)</a>
              <a class="dropdown-item" href="/home/init_welcome" id="initDd">Initialisation</a>
              <a class="dropdown-item" href="/home/import_nslc" id="importDd">Import NSLC</a>
              <a class="dropdown-item" href="/admin" id="adminDd">Admin Page</a>
              <div class="dropdown-divider"></div>
            {% else %}
              <div class="dropdown-header"> Signed in as <strong> {{ user.username }}</strong></div>
            {% endif %}
            <a class="dropdown-item btn" href="{% url 'logout' %}"><i class="fas fa-user-slash"></i> Sign out</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}" id="loginBtn"><i class="fas fa-user" title="Sign in"></i></a>
        </li>
      {% endif %}

      <!-- <li class="nav-item">
        <a class="nav-link" href="https://www.resif.fr/">
          <img src="{% static 'home/images/logo_resif.png' %}"  alt="Logo resif" width="80" height="20">
        </a>
      </li> -->

      <!-- <span class="navbar-text">/</span>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/IPGP/siqaco"><i class="fab fa-github"></i> GitLab</a>
      </li>
      <span class="navbar-text">)</span> -->
    </ul>
  </div>
</nav>

{% include "home/import_nslc.html" %}

<script>
  $(document).ready(function() {
    // $("#theme_id").attr("href", "{%  static 'home/css/bootstrap_solar.min.css' %}")
    {% if not user.is_authenticated %}

      $("#updateStatsDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});
      $("#updateDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});
      $("#requestDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});
      $("#initDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});
      $("#importDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});
      $("#updateMdDd").attr({"class":"dropdown-item text-secondary","title":"Requires login"});

    {% endif %}

  });
</script>
