<form method="post">
  {% csrf_token %}
  <div class="modal-body ">
    <div class="alert alert-success" role="alert">
       <h4 class="alert-heading">Initialise Source</h4>
       Create a first source
    </div>
    <hr>
    <span style="font-size: 1em" class="text-secondary">
      {% for field in source_form %}
        <div class="submit-link-row">{{ field.label_tag }} {{ field }}</div>
        {% if source_form.errors %}
          {% for error in field.errors %}
            <p class="error-message" style="color:red">
              <strong>{{ error|escape }}</strong>
            </p>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </span>
  </div>
  <div class="modal-footer">
      <input type="submit" class="btn btn-primary" name="source_prev" value="&#8592 Prev">
      <input type="submit" class="btn btn-primary" name="source_next" value="Next &#8594">
  </div>
</form>
