<!-- templates/registration/login.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Morumotto</title>
    {% include "home/headers/basics.html" %}
  </head>
  <body>
    {% include "home/header.html" %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
      </ol>
    </nav>
    <br><br>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>
        <br>
      </form>
      <br>

        <a href="/home/password_reset"><small class="text-muted">Reset Password</small></a>
        |
        <a href="/admin/auth/user/add/" title="Must be admin"><small class="text-muted">Create user</small></a>


    </div>
    {% include "home/footer.html" %}
  </body>
  <script type="text/javascript">
    $(document).ready( function () {

      $("#loginBtn").addClass("active");
    });

  </script>
</html>
