<!-- templates/registration/login.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Morumotto</title>
    {% include "home/headers/basics.html" %}
  </head>
  <body>
    {% include "home/header.html" %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/home/login">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Password</li>
      </ol>
    </nav>
    <br><br>
    <div class="container">
      <h1>Set a new password!</h1>
      {% if validlink %}

        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary" value="Change my password">
        </form>

      {% else %}

        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

      {% endif %}

    </div>
    {% include "home/footer.html" %}
  </body>
</html>
