<!-- templates/registration/login.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Morumotto</title>
    {% include "home/headers/basics.html" %}
  </head>
  <body>
    {% include "home/header.html" %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/home/login">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">Password reset</li>
      </ol>
    </nav>
    <br><br>
    <div class="container">
      <h1>Check your inbox.</h1>
      <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
    </div>
    {% include "home/footer.html" %}
  </body>
</html>
