<!-- templates/registration/login.html -->
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Morumotto</title>
    {% include "home/headers/basics.html" %}
  </head>
  <body>
    {% include "home/header.html" %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/home">Home</a></li>
        <li class="breadcrumb-item"><a href="/home/login">Login</a></li>
        <li class="breadcrumb-item active" aria-current="page">Password Reset Complete</li>
      </ol>
    </nav>
    <br><br>
    <div class="container">
      <h1>Password reset complete</h1>
      <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>


    </div>
    {% include "home/footer.html" %}
  </body>
</html>
