<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Morumotto</title>
    {% include "home/headers/datepicker.html" %}
  </head>
  <body>
    {% include "home/header.html" %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a href="/qualitycontrol">Quality Control</a></li>
        <li class="breadcrumb-item active" aria-current="page">Plot data completion</li>
      </ol>
    </nav>

    <div class="container-fluid">

      <div class="row">
        <div class="col-3">
          <div class="float-right">
            <form method="post">
              {% csrf_token%}
              {% for field in form %}
                <div class="submit-link-row">
                  <h6><b>{{ field.label_tag }}</b></h6>
                  {{ field }}
                  <br><br>
                </div>
                {% if form.errors %}
                  {% for error in field.errors %}
                    <p class="error-message" style="color:red">
                      <strong>{{ error|escape }}</strong>
                    </p>
                  {% endfor %}
                {% endif %}
              {% endfor %}
              <br>
              <input type="submit" class="btn btn-sm btn-primary"  name="plot_complt" value="Plot Completion">
            </form>
          </div>
        </div>
        <div class="col-8 col-lg-7">
          {% if figure is True %}
            <h5 class="text-primary">
              Completion :
            </h5>
            <br>

            <img data-enlargable style="cursor: zoom-in" src="{% static plotdir|add:filename_id|add:'.complt.'|add:extension %}" id="plot" />
            <br>
            <em class="text-secondary">
              Start times of traces with available data are marked by crosses, gaps are indicated by vertical red lines.
              Data availability percentage is shown below station N.S.L.C
             </em>
          {% elif figure is not False %}
            <div class="alert alert-danger" role="alert">
              <p><i class="fa fa-exclamation-circle"></i>
                Could not compute plot from data :
                <br>
                ERROR : {{ figure }}
              </p>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
    {% include "home/footer.html" %}
    <script>
      $(document).ready( function () {
        $("#qcBtn").addClass("active");
        $("#completionDd").addClass("active");
        $("#logDd").attr("href","/admin/logdb/qclog/")
        $("#id_year").data("DateTimePicker").defaultDate(new Date());
      });

      $('img[data-enlargable]').addClass('img-enlargable').click(function(){
          var src = $(this).attr('src');
          $('<div>').css({
              background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
              backgroundSize: 'contain',
              width:'100%', height:'100%',
              position:'fixed',
              zIndex:'10000',
              top:'0', left:'0',
              cursor: 'zoom-out'
          }).click(function(){
              $(this).remove();
          }).appendTo('body');
      });


    </script>
  </body>

</html>
