[program:morumotto_celery]
command = /home/geber/SiQaCo/siqaco_project/siqaco-env/bin/celery -A siqaco worker -l info
user = geber
directory = /home/geber/SiQaCo/siqaco_project
logfile = /var/log/supervisor/morumotto_celery.log
logfile_maxbytes = 50MB
logfile_backups=10
loglevel = info
autostart = true
autorestart = true

[program:morumotto_flower]
command = /home/geber/SiQaCo/siqaco_project/siqaco-env/bin/celery flower -A siqaco --address=127.0.0.1 --port=5555
user = geber
directory = /home/geber/SiQaCo/siqaco_project
logfile = /var/log/supervisor/morumotto_flower.log
logfile_maxbytes = 50MB
logfile_backups=10
loglevel = info
autostart = true
autorestart = true

[program:morumotto_runserver]
command = /home/geber/SiQaCo/siqaco_project/siqaco-env/bin/python manage.py runserver 0.0.0.0:8000
user = geber
directory = /home/geber/SiQaCo/siqaco_project
logfile = /var/log/supervisor/morumotto_runserver.log
logfile_maxbytes = 50MB
logfile_backups=10
loglevel = info
autostart = true
autorestart = true

[group:morumotto]
programs=morumotto_celery,morumotto_flower,morumotto_runserver
priority=999
