<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Morumotto</title>
  {% include "home/headers/datepicker.html" %}
</head>
<body>
  {% include "home/header.html" %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href="/seismicarchive/stack">Stack</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Request</li>
    </ol>
  </nav>
  <div class="container">
    <form method="post">
      {% csrf_token %}

      <br>
      <div class="row">
        {% for field in request_form %}
          {% if forloop.first %}
            <div class="col-3">
              <h6><b>{{ field.label_tag }}</h6></b> <br> {{ field }}
            </div>
          {% endif %}
          {% if request_form.errors %}
            {% for error in field.errors %}
              <p class="error-message" style="color:red">
                <strong><i class="fas fa-exclamation-circle"></i>  {{ error|escape }}</strong>
              </p>
            {% endfor %}
          {% endif %}
        {% endfor %}



        <div class="col-5">
          {% for field in request_form %}
            {% if not forloop.first %}
              <h6><b>{{ field.label_tag }}</h6></b> <br> {{ field }}<br>
            {% endif %}
            {% if request_form.errors %}
              {% for error in field.errors %}
                <p class="error-message" style="color:red">
                  <strong><i class="fas fa-exclamation-circle"></i>  {{ error|escape }}</strong>
                </p>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <br>
          <button type="button" class="btn btn-sm btn-light" data-toggle="modal" data-target="#jdayCal">
            Display Julian Day Calendar
          </button>





        </div>

        <div class="col-3">

          {% for field in source_form %}
            <h6 style="color : #adb5bd"><b>
              {{ field.label_tag }}
            </h6></b>

            <br>
              {{ field }}
              <br><br>
              <input type="button" class="btn btn-sm btn-secondary" value="Clear selection" id="clearSelection">
              &nbsp;
              <i class="text-secondary fas fa-info-circle"
              title="If no source is selected (using the 'Clear selection' button), requests will ask all sources configured for the given NSLC.
If you select source(s), the request will only ask for these sources, ignoring others.">
              </i>
              <!-- {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %} -->
            <br>

            {% if source_form.errors %}
              {% for error in field.errors %}
                <p class="error-message" style="color:red">
                  <strong><i class="fas fa-exclamation-circle"></i>  {{ error|escape }}</strong>
                </p>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>

      </div>
      <br><br>
      <input type="submit" value="Create Request" name="addRequest" class="btn btn-success" >
    </form>
  </div>

  <!-- Calendar modal -->

  <div class="modal fade" id="jdayCal" tabindex="-1" role="dialog" aria-labelledby="jdayCal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Julian Day Calendar (Non Leap Years)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <center>
            <img class="img-fluid" src="{% static 'home/images/julian_perpetual.png' %}" id="julianLeap" >
            <br><br>
            <button class="btn btn-sm btn-light active" id="showPerpetual">Non-Leap Year</button>
            <button class="btn btn-sm btn-light" id="showLeap">Leap Year</button>
          </center>
        </div>
      </div>
    </div>
  </div>


  {% include "home/footer.html" %}
</body>
<script>
  $(document).ready( function () {


    $('#showLeap').click( function () {
      $('#modalTitle').text('Julian Day Calendar (Leap Years)');
      $('#showLeap').addClass("active");
      $('#showPerpetual').removeClass("active");
      $('#julianLeap').attr("src","{% static 'home/images/julian_leap.png' %}")
    })

    $('#showPerpetual').click( function () {
      $('#modalTitle').text('Julian Day Calendar (Non Leap Years)');
      $('#showPerpetual').addClass("active");
      $('#showLeap').removeClass("active");
      $('#julianLeap').attr("src","{% static 'home/images/julian_perpetual.png' %}")
    })



    $("#stackBtn").addClass("active");
    $("#requestDd").addClass("active");
    $("#logDd").attr("href","/admin/logdb/updatelog/")

    // Use the day to get dates at midnight by default
    $('#id_starttime').data("DateTimePicker").useCurrent('day');
    $('#id_endtime').data("DateTimePicker").useCurrent('day');
    $('#id_endtime').datetimepicker({
            useCurrent: false
        });
    $("#id_starttime").on("dp.change", function (e) {
        $('#id_endtime').data("DateTimePicker").minDate(e.date);

    });
    $("#id_endtime").on("dp.change", function (e) {
        $('#id_starttime').data("DateTimePicker").maxDate(e.date);

    });


    $('#id_source_list option').prop('title', function(){
      return this.text;
    });


    $("#clearSelection").click(function () {
        $("#id_source_list option:selected").prop("selected", false);;
    });
  });
</script>
</html>
